@model rapidrents.Web.Models.ViewModels.ItemViewModel<int?>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section styles {
    <style type="text/css">
        .faqMgnBtmSm {
            padding-bottom: 15px;
        }
    </style>
}

@Styles.Render("~/Content/faq.css")
<form id="sample-form" role="form" class="col-md-6">
    <div class="panel col-md-11">
        <div class="formHeading"><center><h3>New FAQ</h3></center></div>
        <hr />
        <div class="panel col-md-12">
            <div class="faqMgnBtmSm">
                <div class="elementPadding" style="padding-top: 10px;">
                    <label for="question">Enter your question:</label>
                    <input type="text" class="form-control" id="question" name="question" placeholder="What is there to do in the Culver City area?">
                </div>
            </div>
            <div class="faqMgnBtmSm">
                <div class="elementPadding">
                    <label for="category">Category</label>
                    <select class="form-control" id="category" name="category">
                        <option disabled selected>--Select an option--</option>
                        <option value="1">Price</option>
                        <option value="2">Reviews</option>
                        <option value="3">User</option>
                        <option value="4">Location</option>
                    </select>
                </div>
            </div>

            <div class="faqMgnBtmSm">
                <div class="elementPadding">
                    <label for="answer">Enter your answer:</label>
                    <textarea class="form-control" rows="6" id="answer" name="answer"></textarea>
                    <div class="successMessage"></div>
                    <div class="buttonPadding">
                        <button type="submit" id="submitFAQ" class="btn btn-primary">Submit</button>
                        <div class="buttonDivider"></div>
                        <button type="button" id="deleteFAQ" class="hidden">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/rapidrents.services.faq.js" type="text/javascript"></script>
    <script src="~/Scripts/rapidrents.services.analytics.js" type="text/javascript"></script>

    <script type="text/javascript">
        rapidrents.page.startUp = function () {
            rapidrents.page.initializeValidation();
            rapidrents.page.editEntry(@Model.Item);
            $("#submitFAQ").on("click", rapidrents.page.handlers.onSampleFormSubmit);
            $("#deleteFAQ").on("click", rapidrents.page.handlers.onDelete);

        };

        rapidrents.page.initializeValidation = function () {

            jQuery.validator.setDefaults({
                debug: true
            });

            $('#sample-form').validate({
                rules: {
                    "question": {
                        required: true,
                        minlength: 10
                    },
                    "answer": {
                        required: true,
                        minlength: 3
                    },
                    "category": {
                        required: true
                    }
                },

                messages: {
                    "question": {
                        required: "This cannot be blank.",
                        minlength: "Question must be 10 or more characters."
                    },
                    "answer": {
                        required: "This cannot be blank.",
                        minlength: "Answer must be 3 ore more characters."
                    },
                    "category": {
                        required: "Please select a category from the dropdown box."
                    }
                }
            });
        };

        rapidrents.page.handlers.onSampleFormSubmit = function () {
            if ($('#sample-form').valid()) {
                var myData = $("#sample-form").serialize();
                if (!rapidrents.page.currentId) {
                    rapidrents.services.faq.add(myData, rapidrents.page.insertAjaxSuccess, rapidrents.page.insertAjaxError);
                    $(".successMessage").html("Entry successfully submitted!");
                    $("#deleteFAQ").attr("class", "btn btn-default");
                }
                else {
                    var editData = myData + "&id=" + rapidrents.page.currentId;
                    rapidrents.services.faq.update(rapidrents.page.currentId, editData, rapidrents.page.updateAjaxSuccess, rapidrents.page.updateAjaxError);
                    $(".successMessage").html("Entry successfully edited!")
                }
            }
        };

        rapidrents.page.handlers.onDelete = function () {
            if (confirm('Are you sure you want to delete entry ' + rapidrents.page.currentId + '?')) {
                rapidrents.services.faq.delete(rapidrents.page.currentId, rapidrents.page.deleteAjaxSuccess, rapidrents.page.deleteAjaxError);
                setTimeout(function () {
                    window.location = "/faqs/add";
                }, 1000);
            }
            else {
                return;
            }
        }

        rapidrents.page.insertAjaxSuccess = function (data) {
            rapidrents.page.currentId = data.item;
            rapidrents.page.editChange(rapidrents.page.currentId);
            console.log("Insert was successful!");
        }

        rapidrents.page.updateAjaxSuccess = function () {
            console.log("UPDATE ENTRY was successful!");
        }

        rapidrents.page.editAjaxSuccess = function (data) {
            if (data.item === null) {
                window.location = "/faqs/errorpage";
            }
            $("#question").val(data.item.question);
            $("#category").val(data.item.category);
            $("#answer").val(data.item.answer);
            rapidrents.page.currentId = data.item.id;
            rapidrents.page.editChange(rapidrents.page.currentId);
        }

        rapidrents.page.deleteAjaxSuccess = function () {
            $("#sample-form").trigger("reset");
            $(".successMessage").html("Entry successfully deleted!");
        }

        rapidrents.page.insertAjaxError = function () {
            console.log(":(");
        }

        rapidrents.page.updateAjaxError = function () {
            console.log("=(");
        }

        rapidrents.page.editAjaxError = function () {
            console.log("x(");
        }

        rapidrents.page.deleteAjaxError = function () {
            console.log("X_X");
        }

        rapidrents.page.editEntry = function (id) {
            if (id) {
                rapidrents.services.faq.getEdit(id, rapidrents.page.editAjaxSuccess, rapidrents.page.editAjaxError);
            }
        }

        rapidrents.page.editChange = function (id) {
            $("#submitFAQ").html("Edit").attr("class", "btn btn-info");
            $("h4").html("Entry " + id);
            $("#deleteFAQ").attr("class", "btn btn-default");
        }
    </script>
}
