
@{
    ViewBag.Title = "error";
}

<h2>woops! silly goose, looks like the faq you want to edit does not exist!</h2>
<img src="http://www.canadagoosetapes.com/wp-content/themes/cgt/library/images/goosehead.gif"/>

